html, body,.container, .gameboard{
	height: 100%
}

.weapon{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	border: 1px solid;
}

.hide{
	visibility: hidden;
	display: none;
}

img{
	height: 150px;
	width: 150px;
}